# =========================
# Ambiente virtual
# =========================
venv/
.env/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Banco de dados
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code / IDEs
# =========================
.vscode/
.idea/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db
